# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=DATABASE_URL

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=CLERK_SECRET_KEY
NEXT_PUBLIC_CLERK_SIGN_IN_URL=NEXT_PUBLIC_CLERK_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL=NEXT_PUBLIC_CLERK_SIGN_UP_URL

SENDBIRD_APP_ID=SENDBIRD_APP_ID
SENDBIRD_API_KEY=SENDBIRD_API_KEY

PRIVATE_KEY_ID=PRIVATE_KEY_ID
PRIVATE_KEY=PRIVATE_KEY
CLIENT_EMAIL=CLIENT_EMAIL
CLIENT_ID=CLIENT_ID

UPLOADTHING_SECRET=UPLOADTHING_SECRET
UPLOADTHING_APP_ID=UPLOADTHING_APP_ID