# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea

# pwa
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

/public/img/profiles/*
!/public/img/profiles/default.png
!/public/img/profiles/therapistDefault.jpg

# bubblewrap
/twa-manifest.json
/store_icon.png
/settings.gradle
/manifest-checksum.txt
/gradlew.bat
/gradlew
/gradle.properties
/build.gradle
/android.keystore
/app
/.gradle
/gradle
*.apk
*.aab
*.idsig

/src/actions/credentials.json
